<!DOCTYPE html>
<html>
	{% include head.html %}
	<body>
		{% include nav.html %}
		<div class="wrapper">
			<div class="title">
				<h1>{{ page.title }}</h1>
				<h4>{{ page.date | date_to_string }}</h4>
			</div>
			<div class="article">
				<section id="table-of-contents" class="toc">
					<header>
						<h3><i class="fa fa-book"></i> Sumário</h3>
					</header>
					<div id="drawer" markdown="1">
						{% include toc.html html=content %}
					</div>
				</section>
				{{ content }}
			</div>
		</div>
		{% include footer.html %}
		{% include scripts.html %}
	</body>
</html>
