<!DOCTYPE html>
<html>
	{% include head.html %}
	<body>
		{% include nav.html %}
		<div class="wrapper">
			<div class="title">
				<h1>{{ page.title }}</h1>
				{% assign m = page.date | date: "%-m" %}
				<h4>{{ page.date | date: "%-d" }}
					{% case m %}
					{% when '1' %}Janeiro
					{% when '2' %}Fevereiro
					{% when '3' %}Março
					{% when '4' %}Abril
					{% when '5' %}Maio
					{% when '6' %}Junho
					{% when '7' %}Julho
					{% when '8' %}Augosto
					{% when '9' %}Setembro
					{% when '10' %}Outubro
					{% when '11' %}Novembro
					{% when '12' %}Dezembro
					{% endcase %}
					{{ page.date | date: "%Y" }}</h4>
			</div>
			<div class="article">
				<section id="table-of-contents" class="toc">
					<header>
						<h3><i class="fa fa-book"></i> Sumário</h3>
					</header>
					<div id="drawer" markdown="1">
						{% include toc.html html=content %}
					</div>
				</section>
				{{ content }}
			</div>
		</div>
		{% include footer.html %}
		{% include scripts.html %}
	</body>
</html>
